body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}

a {
  color: red;
}


th, td {
    padding: 15px;
}


.done-true {
    text-decoration: line-through;
    color: green;
}

.section {
    border-radius: 10px;
    padding: 20px;
    background-color: lightgreen;
}

.section2 {
    border-radius: 10px;
    padding: 20px;
    background-color: lightgreen;
    padding-top: 10px;
}

#table {
    padding: 10px 40px;
    background: darkslategrey;
    width: 300px;
    border-radius: 25px;
}

#gradeClass {
    color: lawngreen;
}

#creditClass {
    color: gold;
}

#gpaCalc {
    color: deepskyblue;
    font-size: 150%;
}

#GPAtotal {
    color: gold;
    font-size: 150%;
}
