<!DOCTYPE html>
<html ng-app="kittensApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Lab</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/libs/angular/angular.js" ></script>
    <script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap.min.js" ></script>
    <script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js" ></script>
    <script type="text/javascript" src="/javascripts/todo.js" ></script>
    <script type="text/javascript" src="/javascripts/kittens.js" ></script>

</head>
<body>
<h1>Take Me <a href="/">Home</a></h1>
<div class="col-md-4 col-md-offset-1 section" ng-controller="CarouselDemoCtrl">
    <h2>Kitten Carousel</h2>
    <div style="height: 305px">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
        </div>
        <div class="col-md-6">
            Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
            <br />Enter a negative number to stop the interval.
        </div>
    </div>
</div>



<div class="col-md-4 col-md-offset-1 section2">

    <div ng-controller="DropdownCtrl">
        <table id="table" style="width:75%">
            <tr>
                <th id="gradeClass">
                    Grade in Class
                </th>
                <th id="creditClass">
                    Credits in Class
                </th>
            </tr>


            <tr ng-repeat="gpa in classes track by $index">


                <td>
                    <div class="btn-group" dropdown is-open="statuses.isopen{{$index+1}}">

                        <button type="button" class="btn btn-primary dropdown-toggle">

                            {{gpa.grade}} <span class="caret"></span>

                        </button>

                        <ul  class="dropdown-menu" role="menu">

                            <li ng-repeat="grade in grades"><a href="#" ng-click="selectGrade(gpa, grade)">{{grade.grade}}</a>

                            </li>
                        </ul>
                    </div>
                </td>

                <td>
                    <div class="btn-group" dropdown is-open="statuses.isopen{{$index+7}}">

                        <button type="button" class="btn btn-primary dropdown-toggle">

                            {{gpa.credit}} <span class="caret"></span>

                        </button>

                        <ul  class="dropdown-menu" role="menu">

                            <li ng-repeat="credits in credits"><a href="#" ng-click="selectCredit(gpa, credits)">{{credits}}</a>

                            </li>
                        </ul>
                    </div>
                </td>

            </tr>
            <td>
            <p id="gpaCalc"><b>Your total GPA for the selected Classes and Credits is...</b></p>
            </td>
            <td><p id="GPAtotal"><b>{{GPA()}}</b></p></td>

        </table>

    </div>

</div>
</body>
</html>